@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --header-height: 5 rem;

    --main-color: #f7e6df;
    --first-color:#75492b;
    --second-color: #dfd6a7;
    --white-color: #fff;
    --black-color: #151515;

    --font-cursive: 'Sofia';font-size: 18px;
    --font-body: 'Agbalumo';font-size: 22px;

    --big-font-size: 3rem;
    --h1-font-size: 2,25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--font-body);
    overflow-x:hidden ;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10000;
    transition: all 0.4s ease;
}
.scroll-header{
    background-color: var(--white-color);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.nav-menu .nav-list{
    display: flex;
}
.nav-menu li{
    margin-right: 2rem;
}
.nav-link{
    font-size:var(--normal-font-size);
    color: var(--black-color);
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    transition: all 0.4s ease;
}
.nav-link::before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: all 0.4s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
}
.nav-link:hover,
.nav-link.active{
    color: var(--first-color);
}
.nav-toggle{
    font-size: var(--h1-font-size);
    padding: 5px 5px 0;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: 100;
}
.nav-toggle:hover{
    color: var(--first-color);
    border: 2px solid var(--first-color);
}
/* home section */
.home{
    width:100%;
    height: 100vh;
    background-color: var(--main-color);
    border-radius: 0 0 300px 0;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.home .home-img img{
    max-width: 100%;
    height: 100%;
}
.home .home-content{
    width:40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home-content h1{
    font-family: var(--font-cursive);
    line-height: 3.5rem;
    letter-spacing: 4px;
    color: var(--first-color);
    margin-bottom: 1.5rem;
}
.home-content p{
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: var(--black-color);
    margin-bottom: 1.5rem;
}


/* about Section */

.about {
    width: 100%;
    padding: 7rem 0;
    background-image: url(img/background.jpg); /* Add or modify this line with your background image */
    background-repeat: no-repeat; /* Add this line */
    background-size: contain; /* Change this line */
    background-position: center; /* Change this line */
    position: relative; /* Add this line */
}


.about .container{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}
.section-title{
    margin: 0 auto;
    text-align: center;
  
}
.section-title h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: 400;
    line-height: 3rem;
    color: var(--first-color);
}
.section-title span{
    font-weight: 300;
    font-size: var(--h2-font-size);
    line-height: 1.5rem;
    color: var(--black-color);
    
}
.about-detail{
    width: 100%;
    padding: 2rem;
}
.about-detail-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
    border: 2px solid var(--first-color);
    border-radius: 30px;
    padding:1rem;
}
.about-img img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.25));    
}
.about-description {
    position: relative;
    padding: 2rem;
    color: darkmagenta;
    z-index: 2; /* Adjusted to a higher value */
}

.about-description::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1%;
    left: 0;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    z-index: -1; /* Lower than .about-description */
}

.about-description p{
    font-weight: 400;
    line-height: 2rem;
    
}

/* Services */
.services{
    width: 100%;
    padding: 7rem 0;
    background-image: url(img/services.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: -1;
    background-size: cover;
}
.services-content{
    display: flex;
    flex-wrap: wrap;
}
.services-content-description {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.services-content-description .box {
    padding: 20px;
}

.services-content-description .box .inner img {
    width: 90px;
    margin-bottom: 1rem;
}

.services-content-description .box .inner {
    font-size: var(--h3-font-size);
    font-weight: 800px;
    text-transform: capitalize;
    color: var(--first-color);
    padding: 10px;
    position: relative;
}
.services-content-description .box .inner::before,
.services-content-description .box .inner::after {
    content: '';
    position: absolute;
    width: 100% ;
    height: 100% ;
    box-sizing: border-box;
    transition: all 0.8s ease;
    z-index: -1;
}

.services-content-description .box .inner::before {
    bottom: -440px;
    left: -4px;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}

.services-content-description .box .inner::after {
    top: 10px;
    right: -5px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}
.services-content-description .box:hover .inner::before,
.services-content-description .box:hover .inner::after {
    width: 100%;
    height: 100%;
    border-color: var(--first-color);
}

/* gallery */
.gallery{
    width: 100%;
    padding: 7rem 0;
    position: relative;
}
.gallery::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    top: 20%;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
}
.gallery-list-img{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5rem auto;
    position: relative;
}
.gallery-img img{
    margin: 0.5rem;
    filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.2));
}
.gallery-img:hover img{
    transform: scale(1.1);
}
.gallery-content button {
    margin: 0 auto;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    bottom: -50px; /* Adjust this value to change the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

.gallery-content button:hover {
    background-color: var(--first-color);
    transform: scale(1.05); /* Scale up slightly on hover */
}

.gallery-content button:focus {
    outline: none;
}

/* footer */
.footer-list{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
    padding: 7rem 0;
    border-bottom: 1px solid var(--first-color);
}
.footer-data{
    text-align: center;
    margin-bottom: 1rem;
}
.footer-data-social{
    margin-top: 1rem;
}
.footer-data-social i{
    color: #75492b;
    font-size: var(--h2-font-size);
}
.footer-data h2{
    font-weight: bold;
    font-size: var(--h2-font-size);
    line-height: 1.5rem;
    color: var(--first-color);
    line-height: 1.5rem;
    color: #75492b;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.footer-data p{
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}
.footer .copy{
    text-align: center;
    padding: 1rem  0;
}
.footer .copy p{
    font-weight: bold;
    line-height: 1.5rem;
}
.footer .copy span{
    font-size: var(--small-font-size);
    line-height: 1rem;
}







@media(max-width:920px){
    .nav-menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background-color: var(--main-color);
        font-size: var(--h2-font-size);
        text-align: center;
        text-transform: capitalize;
        padding-top: var(--header-height);
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        transition: all 0.4s ease-in-out;

    }
    .show-nav{
        width: 60%;
    }
    .nav-menu .nav-list{
        display: block;
    }
    .nav-menu li{
        padding: 15px 0;
    }
    .nav-link{
        font-size: var(--h3-font-size);
    }
    .nav-toggle{
        display: block;
    }
    .about-detail-content{
        grid-template-columns: unset;
    }
    .services-content-description{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-list{
        grid-template-columns: repeat(2,1fr);
    }
}